@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if (string.IsNullOrWhiteSpace(Model.Note))
    {
        <p>No notes available!</p>
    }
    else
    {
        <p>@Model.Note</p>
    }
    <small>Edits: @Model.EditsAmount</small>
    <br/><br/>
    <a asp-page="/Note">Go to edit page</a>
</div>